/* Variables de colores */
:root {
    --yellow: #E1FA14;
    --green1: #09FF00;
    --green2: #ABFB0C;
    --green3: #8FE04D;
    --white: #FFFFFF;
    --gray1: #878E93;
    --gray2: #CDCDCE;
    --black: #202322;
    --orange: #DE7C0B;
}

/* Estilos de tipografía */
h1 {
    font-family: 'BeVietnamPro', sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 52px;
}

h2 {
    font-family: 'BeVietnamPro', sans-serif;
    font-weight: 800; /* Extrabold */
    font-size: 22px;
    line-height: 52px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 22px;
    line-height: 48px;
}

h4 {
    font-family: 'BeVietnamPro', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 16px;
    line-height: 24px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--black);
}

/* Main */
main {
    padding: 20px;
    text-align: center;
    max-width: 1300px;
    /* Aumentado para mayor ancho */
    margin: 0 auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--white);
    margin: 1rem 4rem;

}

.header__logo-img {
    height: 50px;
    width: auto;
}

.header__icons {
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 100%;
    margin-left: -10rem;
}


.header__icon,
.header__icon__selected {
    text-decoration: none;
    font-size: 24px;
    color: var(--black);
    background-color: var(--white);
    width: 25px;
    height: 25px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--green2);
    transition: background 0.3s;
}

.header__icon__selected {
    background-color: var(--green2);
    border: 2px solid var(--green2);
}

.header__icon:hover,
.header__icon__selected:hover {
    background-color: var(--green1);
    color: var(--white);
}

.header__balance {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid var(--green2);
}

.header__balance-text {
    font-size: 18px;
    margin-right: 5px;
    font-weight: bold;
}

.header__balance-button {
    border: none;
    background-color: var(--white);
}

.header__add-balance {
    background-color: var(--green2);
    border: 2px solid var(--green2);
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--black);
}

.header__add-balance:hover {
    background-color: var(--green1);
    color: var(--white);
}


/* Bloque principal */
.profile {
    text-align: center;
    padding: 20px;
}

.profile__title {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

/* Header */
.profile__header {
    position: relative;
    display: inline-block;
}

.profile__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile__status {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__status-icon {
    text-decoration: none;
    color: var(--black);
    background-color: var(--green2);
    width: 20px; 
    height: 20px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--green2);
    transition: background 0.3s, transform 0.2s;
}

.profile__status:hover .profile__status-icon {
    transform: scale(1.2);
    background-color: var(--yellow);
}

/* Estadísticas */
.profile__stats {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

.profile__stat {
    padding: 10px 15px;
    border: 2px solid var(--green2);
    border-radius: 20px;
    transition: transform 0.3s ease;
    height:50px;
}

.profile__stat:hover {
    background-color: var(--green2);
    transform: scale(1.1);

}

.profile__stat-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    gap:5px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile__stat-label {
    display: block;
    margin-top: -5px;
}

.profile__stat-value {
    margin-top: -10px;
    font-weight: bold;
}

/* About Me */
.profile__about {
    border: 2px solid var(--green2);
    padding: 15px;
    border-radius: 10px;
    margin: 20px auto;
}

.profile__about-title {
    font-size: 14px;
    color: gray;
    text-transform: uppercase;
}

.profile__about-text {
    font-size: 16px;
    font-weight: normal;
}

.profile__button {
    background-color: var(--green2);
    border: none;
    padding: 0 15px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 50px;
}

.profile__button--edit {
    background-color: var(--gray2);
    transition: transform 0.3s ease;
    color: var(--white);
}

.profile__button--edit:hover {
    background-color: var(--green3);
    transform: scale(1.1);
}

/* Historia */
.profile__history-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 15px;
    margin: auto;
}

.profile__history-card {
    border: 2px solid var(--green2);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    position: relative;
}

/* Títulos dentro de cada tarjeta */
.profile__history-card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

/* Subtítulo del "See More" */
.profile__history-card-subtitle {
    font-size: 12px;
    color: var(--gray1);
    text-decoration: none;
}

/* Para la parte superior de cada tarjeta (title + see more) */
.profile__history-card > .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

/* Para la parte inferior de cada tarjeta */
.profile__history-card > .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

/* Alineación del porcentaje - Primera tarjeta (top) */
.profile__history-card-value.top {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 65%; 
    transform: translateY(-50%);
}

/* Alineación del porcentaje - Segunda tarjeta (bottom) */
.profile__history-card-value.bottom {
    font-size: 18px;
    font-weight: bold;
    position: absolute; 
    right: 15px; 
    bottom: 65%;
    transform: translateY(50%);
}
/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--white);
    color: var(--gray1);
    margin-top: 20px;
}

/* Pagos */
.footer__payment-icon {
    height: 40px;
    width: auto;
    transition: transform 0.3s ease;
}

.footer__payment-icon:hover {
    transform: scale(1.2);
}

.footer__payments {
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
}

/* Redes sociales */
.footer__socials {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    margin-top: 7px;
}

.footer__socials-icon {
    height: 20px;
    width: auto;
    transition: transform 0.3s ease;
}

.footer__socials-icon:hover {
    transform: scale(1.2);
}

.footer__text-down {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
    width: auto;
}

.footer__text-down p {
    margin: 0;
    display: flex;
    align-items: center;
}


.footerCC__icon {
    width: auto;
    height: 23px;
    display: inline-flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}