:root {
    --yellow: #E1FA14;
    --green1: #09FF00;
    --green2: #ABFB0C;
    --green3: #8FE04D;
    --white: #FFFFFF;
    --gray1: #878E93;
    --gray2: #CDCDCE;
    --black: #202322;
    --orange: #DE7C0B;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--black);
}
@font-face {
    font-family: 'BeVietnamPro';
    src: url('../../assets/Fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBold.ttf') format('woff2'),
         url('../../assets/Fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/Fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estilos de tipografía */
h1 {
    font-family: 'BeVietnamPro', sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 52px;
}

h2 {
    font-family: 'BeVietnamPro', sans-serif;
    font-weight: 800; /* Extrabold */
    font-size: 22px;
    line-height: 52px;
    text-transform: uppercase;
    text-align: left;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 22px;
    line-height: 48px;
    text-align: left;
}

h4 {
    font-family: 'BeVietnamPro', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    color: var(--gray1);
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 16px;
    line-height: 24px;
}

.small {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 14px;
    line-height: 24px;
}

.extra-small {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 12px;
    line-height: 16px;
}

.caption {
    font-family: 'BeVietnamPro', sans-serif;
    font-weight: 300; /* Light */
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
}
/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--white);
    margin: 1rem 4rem;

}

.header__logo-img {
    height: 50px;
    width: auto;
}
.header__icons {
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 100%; 
    margin-left: -10rem;
}

.header__icon_mobile {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.header__icon_mobile div {
    display: flex;
    justify-content: center;
}

.header__icon, .header__icon__selected {
    object-fit: contain;
    text-decoration: none;
    font-size: 24px;
    color: var(--black);
    background-color: var(--white);
    width: 25px;
    height: 25px;
    display: flex;
    padding:5px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--green2);
    transition: background 0.3s;
}

.header__icon__selected {
    background-color: var(--green2);
    border: 2px solid var(--green2);
}

.header__icon:hover, .header__icon__selected:hover {
    background-color: var(--green1);
    color: var(--white);
}

.header__balance {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid var(--green2);
}

.header__balance-text {
    margin-right: 5px;
}
.header__balance-button{
    border: none;
    background-color: var(--white);
}
.header__add-balance {
    background-color: var(--green2);
    border: 2px solid var(--green2);
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--black);
}

.header__add-balance:hover {
    background-color: var(--green1);
    color: var(--white);
}
/* Main */
main {
    padding: 20px;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
}

/* Betting title */
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

/* Tabs */
.tab-container {
    display: flex;
    justify-content: center;
    background: var(--gray2);
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    max-width: 880px;
    margin: 0 auto;
}

.tab, .tab_active {
    flex: 1;
    padding: 30px 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    color: var(--gray1);
    font-weight: bold;
}

.tab a {
    text-decoration: none; 
    color: inherit; 
    display: block;
    width: 100%;
    height: 100%;
}

.tab_active {
    background: var(--white);
    font-weight: bold;
    border-radius: 10px;
    
}

/*Leagues*/
.leagues {
    padding: 20px;
    text-align: center;
    margin: -2rem 3rem;
}
.leagues__filter {
    display: inline-block;
    margin: 4rem;
    padding: 5px;
    background-color: var(--gray2);
    border-radius: 50%;
    border: 3px solid var(--green2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.leagues__filter img {
    width: 30px;
    height: 25px;
    border-radius: 50%;
}
.leagues__filter--active {
    background-color: var(--green2);
}

.leagues__filter:hover {
    transform: scale(1.1);
    background-color: var(--green1);
}

/*Hits*/
.hits {
    width: 100%;
    max-width: 850px;
    height: 250px;
    margin: 10px auto;
    padding: 100px 40px 150px 40px;
    background-color: var(--gray2);
    border-radius: 10px;
    text-align: center;
}

.hits__title {
   text-align: right;
   margin-right: 320px;
}

.ranking {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -4rem; 
}

.ranking__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}


.ranking__position {
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 6px;
    display: inline-block;
    min-width: 30px;
    text-align: center;
}

.ranking__position--first {
    background-color: var(--yellow) ;  
    color: black; 
    padding: 10px; 
}

.ranking__position--second,
.ranking__position--third {
    background-color: var(--gray2);  
    color: black;
    padding: 10px; 
}

.ranking__avatar {
    width: 40px;
    height: 40px;
    padding-left: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.ranking__name {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
    text-align: left;

}

.ranking__score, .ranking__score--first {
    font-size: 2rem;
    font-weight: bold;
    color:var(--black);
}
.ranking__score--first{
    text-shadow:  0px 0px 5px var(--yellow) , 0px 0px 10px var(--yellow);
}

/*Actives*/
.actives {
    width: 100%;
    max-width: 850px;
    height: 160px;
    margin: 10px auto;
    padding: 35px 35px 20px 35px;
    background-color: var(--green2);
    border-radius: 10px;
    text-align: center;
}
.active {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: -1rem;
}

.actives_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; 
}

.actives__avatar {
    width: 40px;
    height: 40px;
    padding-left: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.actives__score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actives__score {
    font-size: 1rem;
    color: var(--black);
}

.actives_data {
    font-size: 0.6rem;
    color: var(--grey);
    text-transform: uppercase;
}

.actives__name {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
    text-align: left;

}
/*Challenges*/
.challenges {
    text-align: left;
    max-width: 1300px;
    margin: 0 auto;
}

.challenge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--white);
    margin: 10px 0;
    border: 4px solid var(--green1);
    
}

.challenges.upcoming .match {
    border: 4px solid var(--gray2);
}

/*New Pool*/
.pools {
    width: 100%;
    max-width: 850px;
    height: 420px;
    margin: 10px auto;
    padding: 30px 30px;
    background-color: var(--gray2);
    border-radius: 10px;
    text-align: center;
}
.pool {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pools__item {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    background: var(--white);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;  
    margin-top: 20px;
}

.pool__score {
    font-size: 1rem;
    color: var(--black);
}

.pool__info {
    font-size: 0.6rem;
    color: var(--grey);
}

.pool__button {
    background-color: var(--green1);
    border: none;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    padding: 5px 30px; 
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.pool__button:hover{
    background-color: var(--yellow);
    transform: scale(1.2);
}


/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--white);
    color: var(--gray1);
    margin-top: 20px;
}

/* Pagos */
.footer__payment-icon {
    height: 40px;
    width: auto;
    transition: transform 0.3s ease;
}

.footer__payment-icon:hover {
    transform: scale(1.2);
}

.footer__payments {
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
}

/* Redes sociales */
.footer__socials {
    display: inline-flex; 
    align-items: center;
    gap: 15px;
    margin-top: 7px;
}

.footer__socials-icon {
    height: 20px;
    width: auto;
    transition: transform 0.3s ease;
}

.footer__socials-icon:hover {
    transform: scale(1.2);
}

.footer__text-down {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 25px;
    text-align: center;
    width: auto;
}

.footer__text-down p {
    margin: 0; 
    display: flex;
    align-items: center;
}

.footerCC__icon {
    width: auto;
    height: 23px;
    display: inline-flex; 
    padding: 5px;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}

/* Estilos para el menú móvil */
.mobile-menu {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--black);
    padding: 10px 0;
    border-radius: 25px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    display: none;
    /* Oculto por defecto */
}

.mobile-menu__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* Iconos de menú */
.mobile-menu__icon {
    object-fit: contain;
    font-size: 24px;
    background-color: var(--black);
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 0.3s;
}

/* Estilo del icono seleccionado */
.mobile-menu__icon__selected {
    background-color: var(--green2);
    border: 2px solid var(--green2);
    width: 45px; 
    height: 45px;
    padding: 8px;
}

.mobile-menu__icon, .mobile-menu__icon__selected {
    box-sizing:content-box;
    border-radius: 50%;
}
/* Estilo hover de los iconos */
.mobile-menu__icon:hover,
.mobile-menu__icon__selected:hover {
    background-color: var(--green1);
    color: var(--white);
}

/* Estilos generales para dispositivos pequeños y tabletas */
@media (max-width: 768px) {
    .header__icon_desktop {
        display: none !important;
    }
    .header__icon_mobile{
        margin-left: -50px;
        gap:20px;
        margin-right: 20px;
    }
    .mobile-menu {
        width: 100%; /* O ajusta a algo más pequeño si es necesario */
        display: flex;
        padding: 10px 0;
      }
      
    .header__logo-img {
        height: 40px; /* Reduce el tamaño del logo */
        margin-left: 0;
    }

    .header__icons {
        gap: 20px;
        margin-left: 0;
    }

    .header__balance {
        align-content: right;
        gap: 2px;
        padding: 4px;
    }

    .header__balance-button {
        margin-top:0;
    }

    .header__add-balance {
        width: 20px;
        height: 20px;
        font-size: 18px;
    }


    /* Main Content */
    main {
        padding: 15px;
        max-width: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        min-height: 100vh;
        justify-items: center;
        width:50%;
        margin-left: 8rem;
      }

    /* Sección de Hits */
    .hits {
        width: 80%;
        height: auto;  
    }

    .hits__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;
        padding-top: 20px;
    }

    .hit-item {
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .hit-item__image {
        max-width: 100%;
        height: 120px;
        object-fit: cover;
        border-radius: 5px;
    }

    .hit-item__name {
        font-size: 14px;
        margin-top: 8px;
    }

    /* Sección de Challenges */
    .challenges {
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
    }

    .challenges.upcoming {
        padding: 40px 10px;
        width: 100%;
    }

     /* Menu móvil */
     .mobile-menu {
        width: 70%;
        display: flex !important;
        bottom: 20px;
        padding: 10px 0;
    }

    .mobile-menu__icon {
        width: 30px;
        height: 30px;
        padding: 8px;
    }

    .mobile-menu__icon__selected {
        width: 35px;
        height: 35px;
    }

    .footer__text-down {
        flex-direction: column;
        gap: 15px;
    }

    .footer__socials {
        gap: 10px;
    }

    .footer__socials-icon {
        height: 18px;
        width: auto;
    }

    /* Sección de Ligas */
    .leagues {
        padding: 15px;
        margin: 1rem 0;
    }

    .leagues__filter {
        margin: 30px;
        padding: 10px;
        border-radius: 50px;
    }

    /* Sección de Actives */
    .actives {
        padding: 40px 10px;
    }

    /*Sección new pool*/
    .pools {
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .pools__item {
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
}


/* Para tablets y pantallas intermedias */
@media (min-width: 768px) and (max-width: 1200px) {
    body {
        padding: 0 20px; 
    }
    .header__icon_desktop {
        display: none !important;
    }
    .header__logo-img {
        height: 45px;
    }

    .header__icons {
        gap: 40px;
    }

    .header__icon, .header__icon__selected {
        font-size: 22px;
        width: 22px;
        height: 22px;
    }

    .header__balance-text {
        font-size: 16px;
    }

    .header__add-balance {
        font-size: 19px;
        width: 28px;
        height: 28px;
    }

     /* Menu móvil */
     .mobile-menu {
        width: 70%;
        bottom: 20px;
        padding: 12px 0;
    }

    .mobile-menu__icon {
        width: 35px;
        height: 35px;
        padding: 10px;
    }

    .mobile-menu__icon__selected {
        width: 40px;
        height: 40px;
    }

    .footer__text-down {
        flex-direction: row;
        gap: 20px;
    }

    .footer__socials {
        gap: 12px;
    }

    .footer__socials-icon {
        height: 19px;
    }
}

/* Para pantallas grandes de escritorio */
@media (min-width: 1200px) {
    .header__logo-img {
        height: 50px;
    }

    .header__icons {
        gap: 50px;
    }

    .header__icon, .header__icon__selected {
        font-size: 24px;
        width: 25px;
        height: 25px;
    }

    .header__balance-text {
        font-size: 18px;
    }

    .header__add-balance {
        font-size: 20px;
        width: 30px;
        height: 30px;
    }

    .footer__text-down {
        gap: 25px;
    }

    .footer__socials {
        gap: 15px;
    }

    .footer__socials-icon {
        height: 20px;
    }
}
